<p>Hey {{name}},</p>
<p>Please click below to reset your password</p>
<p>
  <a href='{{url}}'>Confirm</a>
</p>
<p>Your request will expire after 30 minutes</p>
<p>If you did not request this email you can safely ignore it.</p>